Source: haskell-ircbot
Priority: extra
Section: haskell
Maintainer: Jeremy Shaw <jeremy@seereason.com>
Build-Depends: debhelper (>= 7.0),
               haskell-devscripts (>= 0.8),
               cdbs,
               ghc,
               ghc-prof,
               libghc-irc-dev,
#               libghc-irc-prof,
               libghc-mtl-dev,
               libghc-mtl-prof,
               libghc-network-dev,
               libghc-network-prof,
               libghc-parsec3-dev,
               libghc-parsec3-prof
Build-Depends-Indep: ghc-doc,
                     libghc-irc-doc,
                     libghc-mtl-doc,
                     libghc-network-doc,
                     libghc-parsec3-doc
Standards-Version: 3.9.1
Homepage: http://src.seereason.com/ircbot

Package: libghc-ircbot-dev
Architecture: any
Depends: ${shlibs:Depends},
         ${haskell:Depends},
         ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: A library for writing irc bots
 .
 This package contains the normal library files.

# There seems to be no libghc-irc-prof package
#
#Package: libghc-ircbot-prof
#Architecture: any
#Depends: ${haskell:Depends},
#         ${misc:Depends}
#Recommends: ${haskell:Recommends}
#Suggests: ${haskell:Suggests}
#Provides: ${haskell:Provides}
#Description: A library for writing irc bots
# .
# This package contains the libraries compiled with profiling enabled.

Package: libghc-ircbot-doc
Architecture: all
Section: doc
Depends: ${haskell:Depends},
         ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: A library for writing irc bots
 .
 This package contains the documentation files.
